SNOWFLAKE_USER=your_snowflake_username
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_ACCOUNT=your_org-your_account
MONGODB_URI=mongodb+srv://<user>:<password>@covid19cluster.yy80le3.mongodb.net/?appName=Covid19Cluster